body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}   

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.inner-page .main-header {
  margin-bottom: 60px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  text-transform: uppercase;
}

.main-navigation a {
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover,
.user-navigation a:hover{
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;

}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;


  width: 440px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 160px;
}
.user-navigation .login-link {
  position: relative;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -40px;

  width: 20px;
  height: 20px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a[href] {
  pointer-events: none;
}

.site-navigation-current a:not([href]) {
  background-color: #000000;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: -3px;
  
  width: 75px;
  height: 2px;
  background-color: red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.catalog-title {
  width: 760px;
  margin: 0 auto;
  padding: 0;
  padding-top: 85px;
  padding-bottom: 117px;
}

.catalog-title h1{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  
  padding: 0;
  color: #000000;
  
}

.slider {
  position: relative;
  background-color: #eeeeee;

  margin-bottom: 80px;
}


.slider-option {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;
 
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls li {
  display: inline-block;

}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 8px;
}

.slider-radio:checked + label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}



.slider-item {
  display: inline-block;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
  
}
.slider-item:nth-child(2) {
  display: none;
  
}
.slider-item:nth-child(3) {
  display: none;
}


.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}



.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  
}


.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*=========================
 Услуги 
=========================*/

.services {
display: -webkit-box;
display: -ms-flexbox;
display: flex;

margin: 0;
margin-bottom: 80px;
padding: 0;

}

.services-item {
 width: 300px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;

  margin-right: 60px;
  width: 1100px;
  list-style: none;
}
.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-item .button {
  display: block;
  width: 160px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.services-item:nth-child(2) .button{
 background-color: #00ca74;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus{
  background-color: #00bc6c;
}

.services-item:nth-child(3) .button{
 background-color: #efc84a;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus{
  background-color: #eab534;
}

.services-item .button:hover,
.services-item .button:focus{
  background-color: #e74246;
}

.services-item .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}




/*========================*/
/*О НАС*/
/*========================*/

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

 
  margin-bottom: 70px;
  

   border-top: 2px solid #eeeeee;
}

.column-left {
  margin-top: 75px;
  width: 660px;

}

.column-title{
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  padding-bottom: 40px;
}

.column-left p {
  margin-bottom: 40px;
}
.column-list-title {
  font-weight: bold;
}
.column-left ul {
  list-style: none;
}

.column-list li {
  position: relative;
  margin-bottom: 30px;
}

.column-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  
  width: 20px;
  height: 2px;
  background-color: red;
  opacity: 0.8;
}
.column-right {
  padding-top: 40px;
  width: 360px;
}
.column-right img{
  margin-bottom: 50px;
}
.column-right tr {
  margin-bottom: 30px;
}
.column-right caption{
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.value {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.percent {
  font-size: 22.5px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: super;
}
/*=================
Наши клиенты
=================*/
.clients {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin: 0;
  margin-bottom: 82px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 48px 0;
  list-style: none;
}

.clients-item {
  margin: 0;
  padding: 0;
  width: 260px;
  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1.0;
}

.clients-item:active {
  opacity: 0.1;
}


.footer-contacts {
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 416px;
  margin-bottom: 70px;
}

.map-marker {
  
  
  margin-top: 90px;
  margin-left: 370px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
 
  width: 231px;
  min-height: 190px;
  z-index: 1;
}

.footer-direction {
  
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 319px;
  height: 308px;
  margin-top: 56px;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-direction h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.footer-direction p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.contacts-description{
  margin: 0;
  margin-bottom: 20px;
}
.contacts-tel{
  margin: 0;
  margin-bottom: 35px;
}
.footer-direction a {
  margin: 0;
}
.footer-contacts .button {
  width: 219px;
}

/*SOCIAL*/
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  margin-right: 140px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
  height: 79px;
  
  background-color: #e1e1e1;

  border-radius: 50%;
}

.footer-social-item:hover {
  background-color: #e74246;
}

.footer-social-item:active {
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.footer-social-item:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social {
  margin-bottom: 50px;
}
.follow {
  max-width: 560px;
  margin-top: 10px;
}

.follow-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.follow-description {
  margin: 0;
  line-height: 22px;
}
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*POPUP WRITE TO US*/

.write-us {
  display: none;
  position: fixed;

  width: 960px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 120px;
  left: 50%;
  margin-left: -480px;
  padding-top: 73px;
  padding-bottom: 84px;
  padding-right: 100px;
  padding-left: 100px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 50px;

   color: #000000;
}

.write-us p {
  margin: 0;
  padding: 0;
}
.write-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 35px;
}

.write-us label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 12px;
}

.write-us input,
.write-us textarea {
font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 16px;
  color: #000000;
  border: 2px solid #d7dcde;
 
  border-radius: 3px;
}
.write-us textarea {
  width: 100%;
  height: 118px;
  margin-bottom: 47px;
}

.write-us input:focus,
.write-us textarea:focus {
  color: #444444;
  border-color: #e74246;
  outline: #e74246;
}

.write-us input:invalid,
.write-us textarea:invalid {
  color: #e74246;
    border-color: #e74246;
  outline: #e74246;
}

.modal-close {
  position: absolute;
   top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  top: 0;
  right: 0;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

/*Catalog Filter*/
.filters {
  width: 300px;
}

.filter-item {
  margin:0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 29px;
}

.filters fieldset {
  margin-bottom: 50px;
}

.filter-item legend {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 5 2px 1px 0 #cfcfcf;
          box-shadow: 5 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font: inherit;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right
}
.filters label {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}
.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 22px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 37px;
  color: #283136;
}

.filter-option label {
  position: relative;

  display: block;
  max-width: 145px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;


  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
   opacity: 0.4;
  /*border: 2px solid #a6a6a6;
  border-radius: 3px;*/
}

.filter-input-checkbox:checked + label::after {
  content: "";
  
  position: absolute;
  left: -38px;
  top: 0;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  /*width: 24px;
  height: 13px;
  border: 4px solid #a6a6a6;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: translate(-50%, -75%) rotate(-45deg);*/
  }

  .filter-input-checkbox:checked + label::before {
    background-image: none;
  }

  .filter-input-checkbox:checked + label:hover::after,
  .filter-input-checkbox + label:hover::before {
  opacity: 1;
  }  

  .filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -38px;
  top: -4px;
  
  width: 19px;
  height: 19px;
  border: 4px solid #d3d3d3; 
  border-radius: 50%;
  }

.filter-input-radio:checked +label::after {
   content: "";

  position: absolute;
  top: 5px;
  left: -29px;
  
  width: 9px;
  height: 9px;
   
  border-radius: 50%;
  background-color: #d3d3d3;
}

 
.filter-input-radio + label:hover::before {
   border: 4px solid #4d4d4d;
}  

.filter-input-radio:checked + label:hover::after {

  background-color: #4d4d4d;
}

.filters .button {
  width: 260px;
  background-color: #eeeeee;
  color: #000000;
  font: inherit;
  line-height: 20px;
  outline: none;
}

.filters .button:hover {
  background-color: #dfdfdf;
}

.filters .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
/*======================Sorting========================*/

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.sorting-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  width: 160px;
  margin: 0;
}

.sorting-content {
  width: 560px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 480px;
}

.sorting-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin-right: 25px;
}

.sorting-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item-current,
.sorting-item:active {
  color: #000000;
}

.sorting-controls {
  width: 60px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-controls-down path,
.sorting-controls-up path {
  fill: #ededed;
}

.sorting-controls-down:hover path,
.sorting-controls-up:hover path {
  fill: #a6a6a6;
}

.sorting-controls-down:active path,
.sorting-controls-up:active path,
.sorting-controls-current path {
  fill: #231f20;
}
/*======================Catalog list========================*/

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.catalog {
  width: 800px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  

  list-style: none;
}
.catalog-list img {

border: 0;
}
.catalog-item {
  position: relative;
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
  margin-left: 40px;
  font-size: 0;
  line-height: 0;
}

.catalog-item-description {
  position: absolute;
  bottom: 0px;
  display: block;
  margin: 0;
  padding: 0;

  width: 360px;
  height: 230px;
  
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  
  opacity: 0;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.catalog-item:hover  .catalog-item-description {
  
  opacity: 1;
}
.catalog-item-description .button {
  text-transform: uppercase;
  width: 200px;
  padding: 20px 62px;
  margin-left: 80px;
  cursor: pointer;
}
.description-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 143px;
}

.description-text {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: #666666;
}


.img-browser {
  opacity: 0.12;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.catalog-item:hover .img-browser {
  opacity: 1;
}

/*=============Pagination=============*/

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-left: 40px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  padding: 19px 23px;
  line-height: 18px;
  font-weight: 500;
  
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
}
.pagination-item:nth-child(4)  a{
  padding: 19px 75px;
} 

.pagination-item a:hover {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  background-color: #d5d5d5;
   -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
           box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active{
  background-color: transparent;
  border: 3px solid #dbdbdb;
  padding: 17px 20px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}